.filtering-section {
    width: 80%;
    display: flex;
    justify-content: end;
    
}
.filtering-products-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 12px;
}
.filtering-products-ads {
    width: 100%;
    height: 300px;
    border-radius: 32px;
    background-color: rgb(7, 73, 122);
}
.filtering-products-assignment {
    width: 100%;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 12px;
}

.filtering-products-assignment-option {
    padding-left: 24px;
}
.filtering-products-assignment-url {
    padding-right: 24px;
}

.filtering-products {
    display: grid;
    width: 100%;
    justify-items: center;
    justify-self: end;
    grid-template-columns: repeat(4, 1fr);
}

.filtering-products-oneProduct {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtering-products-oneProduct-img {
    width: 80%;
    height: 200px;
    background-color: rgb(7, 73, 122);
}

.filtering-products-oneProduct-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;
}
.filtering-products-oneProduct-info-title {
    font-size: 1.2rem;
}
.filtering-products-oneProduct-info-price {
    color: rgb(7, 73, 122);
}
.filtering-options-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
}

.filtering-options-search-input input {
    width: 100%;
    height: 40px;
    text-align: right;
}

.filtering-options-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.filtering-options-price input {
    height: 10px;
}

.filtering-options-price button {
    padding: 10px 16px;
    border: none;
    background-color: rgb(228, 184, 9);
}

.filtering-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 10px;
}